module.exports = {
   'mongolab': {
      'host': 'ds051990.mongolab.com',
      'username': 'root',
      'password': 'PASSWORD GOES HERE',
      'port': '51990',
      'database': 'shared_data'
   }
};
